/*p {*/
/*    color:peachpuff; */
/*    background-color:dodgerblue;*/
/*}*/

.hotshot {
    border-color: burlywood;
    border-width: 10px;
    border-style: groove;
}

#main {
    background-color: blanchedalmond;
}

.hotshot > span {
    color: pink;
    margin:20px;
}