.firstpic {
    height: 160px;
    width: 160px;
    padding: 30px;
}

.second {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.third {
    padding: 100px 0;
}

.broncos > li {
    display: inline-block;
}

.button1 {
    background-color: #ff9999;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}

.button2 {
    background-color: #ff9999;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.button3 {
    background-color: #ff9999;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9999;
}

.navbar li {
    float: left;
    width: 20%;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {display: inline;}

.pagination li a {
    color: #ff9999;
    float: left;
    padding: 8px 16px;
    text-decoration: underline;
    font-family: Verdana;
}

time {
    color:lightgray;
    font-size: 10px;
}




