<h1>What did you just eat???</h1>

<!-- <form ng-submit="type.foodInput()">
  <input type="text" placeholder="What did you just eat?" ng-model="type.food"/>
</form> -->

<select id="mySelect">
  <option value="egg">Egg</option>
  <option value="bacon">Bacon</option>
  <option value="potato">Potato</option>
  <option value="cheese">Cheese</option>
</select>

<p id="test">
  
</p>
<!--
<div class="dropdown">
  <button onclick="pullNutrition()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Egg</a>
    <a href="#">Bacon</a>
    <a href="#">Potato</a>
    <a href="#">Cheese</a>
  </div>
</div> -->
